.background {
    position: absolute;
    height: 735.78px;
    width: 1800.21px;
    top: 5604px;
    left: -270px;
}


.head_7 {
    position: absolute;
    height: 52.82px;
    width: 1069.11px;
    top: 5690px;
    left: 209px;
    color: #2D3458;
    font-size: 42px;
    letter-spacing: 3px;
    font-family: sans-serif;
    font-weight: bold;
}

.head_8 {
    position: absolute;
    height: 35px;
    width: 789px;
    top: 5770px;
    left: 351px;
    color: #1C2852;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: bold;
}

.right {
    position: absolute;
    height: 46.71px;
    width: 46.71px;
    top: 5975px;
    left: 1420px;
}
.left {
    position: absolute;
    height: 46.71px;
    width: 46.71px;
    top: 5975px;
    left: 70px;
}

.reviews {
    position: absolute;
    left: 140px;
}

.review_1 {
    position: absolute;
    height: 307.07px;
    width: 273.33px;
    top: 5870.79px;
    left: 135.7px;
}
.review_2 {
    position: absolute;
    height: 307.07px;
    width: 273.33px;
    top: 5870.79px;
    left: 460.44px;
}
.review_3 {
    position: absolute;
    height: 307.07px;
    width: 273.33px;
    top: 5870.79px;
    left: 790.19px;
}
.review_4 {
    position: absolute;
    height: 307.07px;
    width: 273.33px;
    top: 5870.79px;
    left: 1120.93px;
}


.review_1.active {
  left: 135.7px; /* Adjust this value based on your design */
}

.review_2.active {
  left: 460.44px; /* Adjust this value based on your design */
}

.review_3.active {
  left: 790.19px; /* Adjust this value based on your design */
}

.review_4.active {
  left: 1120.93px; /* Adjust this value based on your design */
}




@media screen and (max-width: 376px) and (max-height: 6944px) {

    .background {
        position: absolute;
        height: 460.78px;
        width: 735px;
        top: 5370px;
        left: 0px;
    }

    .head_7 {
        position: absolute;
        height: 52.82px;
        width: 465.11px;
        top: 5210px;
        left: 140px;
        color: #2D3458;
        font-size: 41px;
        letter-spacing: 2px;
        font-family: sans-serif;
        font-weight: bold;
    }

    .head_8 {
        position: absolute;
        height: 52.82px;
        width: 630.11px;
        top: 5321px;
        left: 62px;
        color: #2D3458;
        font-size: 34px;
        letter-spacing: 1px;
        font-family: sans-serif;
        font-weight: revert-layer;
    }
    
    .right {
        position: absolute;
        height: 52.82px;
        width: 630.11px;
        top: 1270px;
        left: 1420px;
    }
    .left {
        position: absolute;
        height: 46.71px;
        width: 46.71px;
        top: 1270px;
        left: 70px;
    }

    .reviews {
        position: absolute;
        top: 1270px;
    }
    
    .review_1 {
        position: absolute;
        height: 201.96px;
        width: 169.91px;
        top: 4230.28px;
        left: -90px !important;

    }
    .review_2 {
        position: absolute;
        height: 201.96px;
        width: 169.91px;
        top: 4230.28px;
        left: 135px !important;
    }
    .review_3 {
        position: absolute;
        height: 201.96px;
        width: 169.91px;
        top: 4230.28px;
        left: 355px !important;
    }
    .review_4 {
        position: absolute;
       display: none;
    }

    .review_1.active, .review_2.active, .review_3.active, .review_4.active {
        display: none;
    }
}