.container {
    display: flex;
    position: absolute;
    height: 132.75px;
    width: 1540.95px;
    top: 513.98px;
    background-color: #C1ECFB;
}

.sale {
    position: absolute;
    color: #1A2B58;
    height: 47px;
    width: 448.95px;
    top: -22px;
    left: 93px;
    font-size: 45px;
    font-family: fantasy;
    letter-spacing: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.off {
    position: absolute;
    color: #1A2B58;
    height: 47px;
    width: 350.95px;
    top: 42px;
    left: 45px;
    font-size: 27px;
    font-family: inherit;
    letter-spacing: 4px;
}

.bank {
    display: flex;
    position: absolute;
    width: 391px;
    height: 32px;
    top: 40px;
    left: 615px;
}


.line_1 {
    display: flex;
    position: absolute;
    height: 105px;
    width: 1px;
    left: 1070px;
    top: 10px;
}

.timer {
    position: absolute;
    left: 1120px;
    top: 0px;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 18px;
}

.time {
    position: absolute;
    left: 1120px;
    top: 35px;
}

.format {
    position: absolute;
    left: 1120px;
    top: 80px;
    word-spacing: 60px;
    color: #1A2B58;
    font-weight: 600;
}

.container_1 {
    display: flex;
    position: absolute;
    background-color: #182B58;
    height: 59px;
    width: 1539px;
    top: 645px;
}

.certificate {
    position: absolute;
    height: 40.5px;
    width: 225.64px;
    left: 100.99px;
    top: 6px;

}

.warranty {
    position: absolute;
    height: 37.96px;
    width: 155.73px;
    left: 375.24px;
    top: 8px;


}

.shipping {
    position: absolute;
    height: 37.96px;
    width: 208.11px;
    left: 600.73px;
    top: 8px;


}

.install {
    position: absolute;
    height: 37.96px;
    width: 252.28px;
    left: 850.72px;
    top: 8px;


}

.policy {
    position: absolute;
    height: 37.96px;
    width: 282.74px;
    left: 1110.46px;
    top: 8px;

}

.format_3 {
    position: absolute;
    left: 1120px;
    top: 8px;
    word-spacing: 60px;
    color: #1A2B58;
    font-weight: 600;
}

@media screen and (max-width: 376px) and (max-height: 6944px) {
    .container {
        display: flex;
        position: absolute;
        height: 100.3px;
        width: 1093px;
        top: 565.98px;
        background-color: #C1ECFB;
    }

    .sale {
        position: absolute;
        color: #1A2B58;
        height: 135px;
        width: 450.95px;
        top: -24px;
        left: 308px;
        font-size: 30px;
        font-family: fantasy;
        letter-spacing: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .off {
        position: absolute;
        color: #1A2B58;
        height: 47px;
        width: 350.95px;
        top: 18px;
        left: 285px;
        font-size: 17px;
        font-family: inherit;
        letter-spacing: 4px;
    }

    .bank {
        display: flex;
        position: absolute;
        width: 260.08px;
        height: 30.52px;
        top: 60px;
        left: 380px;
    }

    .line_1 {
        display: flex;
        position: absolute;
        height: 85px;
        width: 1px;
        left: 710px;
        top: 6px;
    }

    .format_3 {
        height: 100.08px;
        position: absolute;
        left: 745px;
        top: 0px;
        word-spacing: 60px;
        color: #1A2B58;
        font-weight: 600;
        width: 300.53px;
    }

    .container_1 {
        display: flex;
        position: absolute;
        background-color: #182B58;
        height: 40.57px;
        width: 1095.3px;
        top: 666px;
    }

    .certificate {
        position: absolute;
        height: 34px;
        width: 155.36px;
        left: 370.99px;
        top: 4px;
    }

    .warranty {
        position: absolute;
        height: 32.87px;
        width: 103.53px;
        left: 527.24px;
        top: 4px;
    }

    .shipping {
        position: absolute;
        height: 29.87px;
        width: 145.78px;
        left: 628px;
        top: 6px;
    }

    .install {
        position: absolute;
        height: 27.87px;
        width: 170.53px;
        left: 768px;
        top: 6px;
    }

    .policy {
        position: absolute;
        height: 27.96px;
        width: 180.74px;
        left: 920px;
        top: 5px;
    }
}