.head_9 {
    position: absolute;
    height: 38px;
    width: 600px;
    top: 6720px;
    left: 548px;
    color: #1A2B58;
    font-size: 42px;
    letter-spacing: 4px;
    font-weight: 700;
    font-family: sans-serif;
}

.bg_3 {
    position: absolute;
    height: 704.5px;
    width: 1530px;
    top: 6718px;
    left: 0px;
}

.story_1 {
    position: absolute;
    height: 399.75px;
    width: 222px;
    top: 6848.5px;
    left: 80.05px;
    border-radius: 16px;
}
.story_2 {
    position: absolute;
    height: 399.75px;
    width: 222px;
    top: 6848.5px;
    left: 365.55px;
    border-radius: 16px;
}
.story_3 {
    position: absolute;
    height: 399.75px;
    width: 222px;
    top: 6848.5px;
    left: 650.05px;
    border-radius: 16px;
}
.story_4 {
    position: absolute;
    height: 399.75px;
    width: 222px;
    top: 6848.5px;
    left: 935.8px;
    border-radius: 16px;
}
.story_5 {
    position: absolute;
    height: 399.75px;
    width: 222px;
    top: 6848.5px;
    left: 1225.3px;
    border-radius: 16px;
}

@media screen and (max-width: 376px) and (max-height: 6944px) {

    .head_9 {
        position: absolute;
        height: 21.43px;
        width: 379.03px;
        top: 6050.24px;
        left: 190px;
        color: #1A2B58;
        font-size: 30px;
        letter-spacing: 0px;
        font-weight: 700;
        font-family: sans-serif;
    }
    
    .bg_3 {
display: none;
    }
    
    .story_2 {
        position: absolute;
        height: 273.95px;
        width: 158.35px;
        top: 6140.05px;
        left: 370.64px;
        border-radius: 15px;
    }
    .story_1 {
        position: absolute;
        height: 273.95px;
        width: 158.35px;
        top: 6140.05px;
        left: 194.64px;
        border-radius: 15px;
    }
    .story_4 {
        position: absolute;
        height: 273.95px;
        width: 158.35px;
        top: 6140.05px;
        left: 540.64px;
        border-radius: 15px;

    }
    .story_3 {
        position: absolute;
        height: 273.95px;
        width: 158.35px;
        top: 6140.05px;
        left: 21px;
        border-radius: 15px;
    }
    .story_5 {
        display: none;

    }
}