.blogs {
    position: absolute;
    height: 551.44px;
    width: 1432.29px;
    top: 7404.24px;
    left: 60.49px;
}

.text_99 {
    position: absolute;
    height: 261px;
    width: 1530px;
    top: 7968px;
    left: 0px;
    background-color: #F4F4F4;
}

.text_100 {
    position: absolute;
    height: 182px;
    width: 1227px;
    top: 50px;
    left: 180px;
    color: #5E5E5E;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}


@media screen and (max-width: 376px) and (max-height: 6944px) {

    .blogs {
        position: absolute;
        height: 340.56px;
        width: 890.31px;
        top: 6495.56px;
        left: -68px;
    }

    .text_99 {
        display: none;
    }
}