.box {
    height: 33px;
    width: 1536px;
    background-color: #1A2B58;
    left: 0px;
    position: absolute;
}

.box .text {
    position: absolute;
    height: 22px;
    width: 375px;
    color: white;
    top: 2px;
    left: 589px;
    font-size: 20px;
}

.fonts {
    display: flex;
    font-weight: 400;
    position: absolute;
    left: 1232px;
    top: 7px;
    gap: 20px;
    color: white;
}

@media screen and (max-width: 376px) and (max-height: 6944px) {

    .box {
        height: 33px;
        width: 734px;
        background-color: #1A2B58;
        left: 0px;
        position: absolute;
    }

    .box .text {
        position: absolute;
        height: 22px;
        width: 375px;
        color: white;
        top: 5px;
        left: 200px;
        font-size: 20px;
    }


    .fonts {
        display: flex;
        font-weight: 100;
        position: absolute;
        left: 655px;
        top: 8px;
        gap: 20px;
        color: white;
        font-size: 20px;
    }

    .fonts .fa-brands.fa-linkedin {
        display: none;
    }

    .fonts .fa-brands.fa-youtube {
        display: none;
    }
}