.h1 {
    position: absolute;
    height: 44px;
    width: 638px;
    left: 490px;
    top: 4455px;
    font-size: 42px;
    color: #1A2B58;
    font-family: revert;
    font-weight: 600;
    letter-spacing: 5px;
}

.mesh {
    position: absolute;
    width: 1650.75px;
    height: 592px;
    left: -121px;
    top: 4447px;
}

.store {
    position: absolute;
    height: 434.3px;
    width: 408.98px;
    top: 4535.02px;
    left: 170.24px;
}

.demo {
    position: absolute;
    height: 417.02px;
    width: 409.7px;
    top: 4529.8px;
    left: 630.34px;
}

.connect {
    position: absolute;
    height: 412.78px;
    width: 405.84px;
    top: 4541.5px;
    left: 1115.8px;
}

.store_button {
    position: absolute;
    height: 55px;
    width: 202.74px;
    top: 4926.41px;
    left: 235.44px;
    color: white;
    background-color: #CC0001;
    border-color: #CC0000;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;

}

.demo_button {
    position: absolute;
    height: 55px;
    width: 225.74px;
    top: 4920.41px;
    left: 720.34px;
    color: white;
    background-color: #CC0001;
    border-color: #CC0000;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
}

.connect_button {
    position: absolute;
    height: 55px;
    width: 202.74px;
    top: 4910.41px;
    left: 1195.8px;
    color: white;
    background-color: #CC0001;
    border-color: #CC0000;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
}

@media screen and (max-width: 376px) and (max-height: 6944px) {
    .h1 {
        position: absolute;
        height: 28.77px;
        width: 490.87px;
        left: 140px;
        top: 4140px;
        font-size: 35px;
        color: #1A2B58;
        font-family: revert;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .mesh {
        position: absolute;
        width: 810.04px;
        height: 260.15px;
        left: -78.49px;
        top: 4190.49px;
    }

    .store {
        position: absolute;
        height: 130.8px;
        width: 122.97px;
        top: 4260.45px;
        left: 100.68px;
    }

    .demo {
        position: absolute;
        height: 128.2px;
        width: 125.95px;
        top: 4255.64px;
        left: 325.78px;
    }

    .connect {
        position: absolute;
        height: 123.87px;
        width: 121.78px;
        top: 4260.4px;
        left: 570.62px;
    }

    .store_button {
        position: absolute;
        height: 22.18px;
        width: 100.54px;
        top: 4385.47px;
        left: 100.6px;
        color: white;
        background-color: #CC0001;
        border-color: #CC0000;
        border-radius: 8px;
        font-weight: bold;
        font-size: 12px;
    }

    .demo_button {
        position: absolute;
        height: 22.18px;
        width: 100.54px;
        top: 4385.47px;
        left: 340.6px;
        color: white;
        background-color: #CC0001;
        border-color: #CC0000;
        border-radius: 8px;
        font-weight: bold;
        font-size: 9px;
    }

    .connect_button {
        position: absolute;
        height: 22.18px;
        width: 100.54px;
        top: 4385.47px;
        left: 580.6px;
        color: white;
        background-color: #CC0001;
        border-color: #CC0000;
        border-radius: 8px;
        font-weight: bold;
        font-size: 12px;
    }


}