.text_4 {
    position: absolute;
    height: 37px;
    width: 518px;
    left: 435px;
    top: 1710px;
    font-size: 40px;
    color: #1A2B58;
    font-weight: 600;
    letter-spacing: 2px;
}

.text_5 {
    position: absolute;
    height: 37px;
    width: 518px;
    left: 625px;
    top: 1710px;
    font-size: 40px;
    color: #1A2B58;
    font-weight: bolder;
    letter-spacing: 1px;

}

.ERGOSMART_Ultra {
    position: absolute;
    background-color: #C1ECFB;
    color: #1A2B58;
    height: 60px;
    width: 420.02px;
    left: 273.71px;
    top: 1835px;
    font-family: revert-layer;
    font-size: 23px;
    letter-spacing: 2px;
    border-radius: 10px;
    font-weight: bold;
    padding-right: 40px;

}

.ERGOSMART_Ultra.active {
    position: block;
    background-color: #1A2B58;
    color: white;
    height: 60px;
    width: 420.02px;
    left: 273.71px;
    top: 1835px;
    font-family: revert-layer;
    font-size: 23px;
    letter-spacing: 2px;
    border-radius: 10px;
    font-weight: bold;
    padding-right: 40px;

}

.ERGOSMART_Max {
    position: absolute;
    background-color: #C1ECFB;
    color: #1A2B58;
    height: 60px;
    width: 420.02px;
    left: 865.71px;
    top: 1835px;
    font-family: revert-layer;
    font-size: 23px;
    letter-spacing: 2px;
    border-radius: 10px;
    font-weight: bold;
    padding-right: 25px;

}

.ERGOSMART_Max.active {
    position: block;
    background-color: #1A2B58;
    color: white;
    border-color: #C1ECFB;
    height: 60px;
    width: 420.02px;
    left: 865.71px;
    top: 1835px;
    font-family: revert-layer;
    font-size: 23px;
    letter-spacing: 2px;
    border-radius: 10px;
    font-weight: bold;
    padding-right: 25px;

}

.arrow {
    position: absolute;
    left: 641.71px;
    top: 1847px;
    width: 35.55px;
    height: 34.13px;
    transform: rotate(180deg) !important;
}

.arrow_1 {
    position: absolute;
    left: 641.71px;
    top: 1847px;
    width: 35.55px;
    height: 34.13px;
}

.arrow_2 {
    position: absolute;
    top: 1847px;
    left: 1235.71px;
    width: 35.55px;
    height: 34.13px;
    color: #1A2B58;
    transform: rotate(180deg) !important;
}

.arrow_3 {
    position: absolute;
    top: 1847px;
    left: 1235.71px;
    width: 35.55px;
    height: 34.13px;
    color: #1A2B58;
}

.chart {
    position: absolute;
    overflow: hidden;
    height: 953px;
    width: 536px;
    top: 2139px;
    left: 225px;
}

.grey_1 {
    position: absolute;
    height: 298.95px;
    width: 295.14px;
    top: 1953.39px;
    left: 340.95px;
}

.chart_2 {
    position: absolute;
    height: 953px;
    width: 536px;
    top: 2139px;
    left: 819px;
}

.grey_2 {
    position: absolute;
    height: 298.95px;
    width: 295.14px;
    top: 1953.39px;
    left: 950.95px;
}

.check_1 {
    position: absolute;
    top: 2315px;
    left: 320px;
    height: 42.37px;
    width: 41.88px;
}

.check_2 {
    position: absolute;
    top: 2446px;
    left: 320px;
    height: 42.37px;
    width: 41.88px;
}

.check_3 {
    position: absolute;
    top: 2577px;
    left: 320px;
    height: 42.37px;
    width: 41.88px;
}

.check_4 {
    position: absolute;
    top: 2708px;
    left: 320px;
    height: 42.37px;
    width: 41.88px;
}

.check_5 {
    position: absolute;
    top: 2839px;
    left: 320px;
    height: 42.37px;
    width: 41.88px;
}

.check_6 {
    position: absolute;
    top: 2970px;
    left: 320px;
    height: 42.37px;
    width: 41.88px;
}

.p1 {
    position: absolute;
    top: 2280px;
    left: 390px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    font-weight: 600;
    text-align: left;

}

.p2 {
    position: absolute;
    top: 2409px;
    left: 390px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    font-weight: 600;
    text-align: left;
}

.p3 {
    position: absolute;
    top: 2540px;
    left: 390px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    font-weight: 600;
    text-align: left;
}

.p4 {
    position: absolute;
    top: 2672px;
    left: 390px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    font-weight: 600;
    text-align: left;

}

.p5 {
    position: absolute;
    top: 2802px;
    left: 390px;
    width: 256px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    text-align: left;
    font-weight: 600;
}

.p6 {
    position: absolute;
    top: 2933px;
    left: 390px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    text-align: left;
    font-weight: 600;
}

.check_7 {
    position: absolute;
    top: 2315px;
    left: 930px;
    height: 42.37px;
    width: 41.88px;
}

.check_8 {
    position: absolute;
    top: 2446px;
    left: 930px;
    height: 42.37px;
    width: 41.88px;
}

.check_9 {
    position: absolute;
    top: 2577px;
    left: 930px;
    height: 42.37px;
    width: 41.88px;
}

.check_10 {
    position: absolute;
    top: 2708px;
    left: 930px;
    height: 42.37px;
    width: 41.88px;
}

.check_11 {
    position: absolute;
    top: 2839px;
    left: 930px;
    height: 42.37px;
    width: 41.88px;
}


.p7 {
    position: absolute;
    top: 2280px;
    left: 1000px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    font-weight: 600;
    text-align: left;

}

.p8 {
    position: absolute;
    top: 2409px;
    left: 1000px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    font-weight: 600;
    text-align: left;
}

.p9 {
    position: absolute;
    top: 2540px;
    left: 1000px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    font-weight: 600;
    text-align: left;
}

.p10 {
    position: absolute;
    top: 2672px;
    left: 1000px;
    width: 244px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    font-weight: 600;
    text-align: left;

}

.p11 {
    position: absolute;
    top: 2802px;
    left: 1000px;
    width: 256px;
    height: 81px;
    font-family: sans-serif;
    font-size: 34px;
    color: #1A2B58;
    text-align: left;
    font-weight: 600;
}


.dimension-ultra {
    position: absolute;
    background-color: #C1ECFB;
    height: 138px;
    width: 536px;
    left: 225px;
    top: 3105px;
    border-radius: 8px;
}

.dimension-max {
    position: absolute;
    background-color: #C1ECFB;
    height: 138px;
    width: 536px;
    left: 819px;
    top: 3105px;
    border-radius: 8px;
}

.height-ultra {
    position: absolute;
    background-color: #C1ECFB;
    height: 117px;
    width: 536px;
    left: 225px;
    top: 3259px;
    border-radius: 8px;
}

.height-max {
    position: absolute;
    background-color: #C1ECFB;
    height: 117px;
    width: 536px;
    left: 819px;
    top: 3259px;
    border-radius: 8px;
}

.price-ultra {
    position: absolute;
    background-color: #1A2B58;
    height: 105px;
    width: 536px;
    left: 225px;
    top: 3391px;
}

.price-max {
    position: absolute;
    background-color: #1A2B58;
    height: 105px;
    width: 536px;
    left: 819px;
    top: 3391px;
}

.shop_now_7 {
    position: absolute;
    height: 81px;
    width: 536px;
    left: 0px;
    background-color: #CC0001;
    color: white;
    border-radius: 10px;
    top: 70px;
    font-size: 19px;
    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}

.shop_now_8 {
    position: absolute;
    height: 81px;
    width: 536px;
    left: 0px;
    background-color: #CC0001;
    color: white;
    border-radius: 10px;
    top: 70px;
    font-size: 19px;
    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}

.text_6 {
    position: absolute;
    font-family: sans-serif;
    font-size: 35px;
    color: #1A2B58;
    left: 125px;
    font-weight: bold;
    letter-spacing: 1px;
}

.text_7 {
    position: absolute;
    color: #1A2B58;
    font-size: 28px;
    top: 45px;
    left: 112px;
    font-weight: 500;
}

.text_8 {
    position: absolute;
    font-family: sans-serif;
    font-size: 35px;
    color: #1A2B58;
    left: 125px;
    font-weight: bold;
    letter-spacing: 1px;
}

.text_9 {
    position: absolute;
    color: #1A2B58;
    font-size: 28px;
    top: 45px;
    left: 112px;
    font-weight: 500;
}

.text_10 {
    position: absolute;
    font-family: sans-serif;
    font-size: 32px;
    color: #1A2B58;
    left: 125px;
    font-weight: bold;
    letter-spacing: 1px;
}

.text_11 {
    position: absolute;
    color: #1A2B58;
    font-size: 30px;
    top: 35px;
    left: 160px;
    font-weight: 500;
}

.text_12 {
    position: absolute;
    font-family: sans-serif;
    font-size: 32px;
    color: #1A2B58;
    left: 125px;
    font-weight: bold;
    letter-spacing: 1px;
}

.text_13 {
    position: absolute;
    color: #1A2B58;
    font-size: 30px;
    top: 35px;
    left: 160px;
    font-weight: 500;
}

.text_14 {
    position: absolute;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    left: 85px;
    top: -16px;
}

.text_15 {
    position: absolute;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    left: 206px;
    top: -32px;
}

.text_16 {
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    left: 342px;
    top: -14px;
    text-decoration: line-through;
}

.text_17 {
    position: absolute;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    left: 86px;
    top: 26px;
}

.snapmint {
    position: absolute;
    top: 40px;
    left: 335px;
    height: 23.56px;
    width: 78.37px;
}

.text_18 {
    position: absolute;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    left: 85px;
    top: -16px;
}

.text_19 {
    position: absolute;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    left: 206px;
    top: -32px;
}

.text_20 {
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    left: 342px;
    top: -14px;
    text-decoration: line-through;
}

.text_21 {
    position: absolute;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    left: 86px;
    top: 26px;
}

.snapmint_1 {
    position: absolute;
    top: 40px;
    left: 335px;
    height: 23.56px;
    width: 78.37px;
}



@media screen and (max-width: 376px) and (max-height: 6944px) {

    .text_4 {
        position: absolute;
        height: 24.78px;
        width: 205.15px;
        left: 185.57px;
        top: 2760.17px;
        font-size: 40px;
        color: #1A2B58;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .text_5 {
        position: absolute;
        height: 24.78px;
        width: 205.15px;
        left: 370.57px;
        top: 2760.17px;
        font-size: 40px;
        color: #1A2B58;
        font-weight: bolder;
        letter-spacing: 0px;
    }

    .ERGOSMART_Ultra {
        position: absolute;
        background-color: #C1ECFB;
        color: #1A2B58;
        border-color: #C1ECFB;
        height: 37.81px;
        width: 230.53px;
        left: 65.91px;
        top: 2890.62px;
        font-family: revert-layer;
        font-size: 14px;
        letter-spacing: 2px;
        border-radius: 10px;
        font-weight: bold;
        padding-right: 10px;
    }

    .ERGOSMART_Ultra.active {
        position: block;
        background-color: #1A2B58;
        color: white;
        height: 37.81px;
        width: 230.53px;
        left: 65.91px;
        top: 2890.62px;
        font-family: revert-layer;
        font-size: 14px;
        letter-spacing: 2px;
        border-radius: 10px;
        font-weight: bold;
        padding-right: 10px;

    }



    .ERGOSMART_Max {
        position: absolute;
        background-color: #C1ECFB;
        color: #1A2B58;
        border-color: #C1ECFB;
        height: 37.81px;
        width: 230.53px;
        left: 420.91px;
        top: 2890.62px;
        font-family: revert-layer;
        font-size: 14px;
        letter-spacing: 2px;
        border-radius: 10px;
        font-weight: bold;
        padding-right: 25px;

    }

    .ERGOSMART_Max.active {
        position: block;
        background-color: #1A2B58;
        color: white;
        border-color: #C1ECFB;
        height: 37.81px;
        width: 230.53px;
        left: 420.91px;
        top: 2890.62px;
        font-family: revert-layer;
        font-size: 14px;
        letter-spacing: 2px;
        border-radius: 10px;
        font-weight: bold;
        padding-right: 25px;

    }

    .arrow {
        position: absolute;
        left: 267.91px;
        top: 2898.62px;
        width: 20px;
        height: 20px;
        color: #1A2B58;
        transform: rotate(180deg) !important;
    }

    .arrow_1 {
        position: absolute;
        left: 267.91px;
        top: 2898.62px;
        width: 20px;
        height: 20px;
        color: #1A2B58;
    }

    .arrow_2 {
        position: absolute;
        left: 610.91px;
        top: 2898.62px;
        width: 20px;
        height: 20px;
        color: #1A2B58;
        transform: rotate(180deg) !important;
    }

    .arrow_3 {
        position: absolute;
        left: 610.91px;
        top: 2898.62px;
        width: 20px;
        height: 20px;
        color: #1A2B58;
    }

    .chart {
        position: absolute;
        height: 450px;
        width: 230px;
        top: 3020px;
        left: 65.09px;
    }

    .grey_1 {
        position: absolute;
        height: 107.93px;
        width: 106.68px;
        top: 2965.14px;
        left: 123.61px;
    }

    .chart_2 {
        position: absolute;
        height: 450px;
        width: 230px;
        top: 3020px;
        left: 425.91px;
    }

    .grey_2 {
        position: absolute;
        height: 107.93px;
        width: 106.68px;
        top: 2965.14px;
        left: 488.91px;
    }

    .check_1 {
        position: absolute;
        top: 3122px;
        left: 90.09px;
        height: 14.14px;
        width: 13.97px;
    }


    .check_2 {
        position: absolute;
        top: 3182px;
        left: 90.09px;
        height: 14.14px;
        width: 13.97px;
    }

    .check_3 {
        position: absolute;
        top: 3242px;
        left: 90.09px;
        height: 14.14px;
        width: 13.97px;
    }

    .check_4 {
        position: absolute;
        top: 3300px;
        left: 90.09px;
        height: 14.14px;
        width: 13.97px;
    }

    .check_5 {
        position: absolute;
        top: 3358px;
        left: 90.09px;
        height: 14.14px;
        width: 13.97px;
    }

    .check_6 {
        position: absolute;
        top: 3412px;
        left: 90.09px;
        height: 14.14px;
        width: 13.97px;
    }

    .p1 {
        position: absolute;
        top: 3100px;
        left: 115.09px;
        height: 14.14px;
        width: 116.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        font-weight: 600;
        text-align: left;
    }

    .p2 {
        position: absolute;
        top: 3160px;
        left: 115.09px;
        height: 14.14px;
        width: 116.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        font-weight: 600;
        text-align: left;
    }

    .p3 {
        position: absolute;
        top: 3220px;
        left: 115.09px;
        height: 14.14px;
        width: 120.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        font-weight: 600;
        text-align: left;
    }

    .p4 {
        position: absolute;
        top: 3280px;
        left: 115.09px;
        height: 14.14px;
        width: 120.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        font-weight: 600;
        text-align: left;
    }

    .p5 {
        position: absolute;
        top: 3335px;
        left: 115.09px;
        height: 14.14px;
        width: 152.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        text-align: left;
        font-weight: 600;
    }

    .p6 {
        position: absolute;
        top: 3390px;
        left: 115.09px;
        height: 14.14px;
        width: 116.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        text-align: left;
        font-weight: 600;
    }

    .check_7 {
        position: absolute;
        top: 3122px;
        left: 450.09px;
        height: 14.14px;
        width: 13.97px;
    }

    .check_8 {
        position: absolute;
        top: 3182px;
        left: 450.09px;
        height: 14.14px;
        width: 13.97px;
    }

    .check_9 {
        position: absolute;
        top: 3242px;
        left: 450.09px;
        height: 14.14px;
        width: 13.97px
    }

    .check_10 {
        position: absolute;
        top: 3300px;
        left: 450.09px;
        height: 14.14px;
        width: 13.97px;
    }

    .check_11 {
        position: absolute;
        top: 3358px;
        left: 450.09px;
        height: 14.14px;
        width: 13.97px;
    }


    .p7 {
        position: absolute;
        top: 3100px;
        left: 480.09px;
        height: 14.14px;
        width: 116.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        font-weight: 600;
        text-align: left;

    }

    .p8 {
        position: absolute;
        top: 3160px;
        left: 480.09px;
        height: 14.14px;
        width: 116.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        font-weight: 600;
        text-align: left;
    }

    .p9 {
        position: absolute;
        top: 3220px;
        left: 480.09px;
        height: 14.14px;
        width: 119.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        font-weight: 600;
        text-align: left;
    }

    .p10 {
        position: absolute;
        top: 3280px;
        left: 480.09px;
        height: 14.14px;
        width: 116.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        font-weight: 600;
        text-align: left;

    }

    .p11 {
        position: absolute;
        top: 3340px;
        left: 480.09px;
        height: 14.14px;
        width: 127.97px;
        font-family: sans-serif;
        font-size: 18px;
        color: #1A2B58;
        text-align: left;
        font-weight: 600;
    }


    .dimension-ultra {
        position: absolute;
        background-color: #C1ECFB;
        height: 52px;
        width: 227.53px;
        left: 65.91px;
        top: 3460.44px;
        border-radius: 6px;
    }

    .dimension-max {
        position: absolute;
        background-color: #C1ECFB;
        height: 52px;
        width: 227.53px;
        left: 427.09px;
        top: 3460.44px;
        border-radius: 6px;
    }

    .height-ultra {
        position: absolute;
        background-color: #C1ECFB;
        height: 52px;
        width: 225.53px;
        left: 65.91px;
        top: 3520.78px;
        border-radius: 8px;
    }

    .height-max {
        position: absolute;
        background-color: #C1ECFB;
        height: 52px;
        width: 225.53px;
        left: 428px;
        top: 3520.78px;
        border-radius: 8px;
    }

    .price-ultra {
        position: absolute;
        background-color: #1A2B58;
        height: 52px;
        width: 225.53px;
        left: 67px;
        top: 3580.78px;
        border-radius: 8px;
    }

    .price-max {
        position: absolute;
        background-color: #1A2B58;
        height: 52px;
        width: 225.53px;
        left: 428px;
        top: 3580.78px;
        border-radius: 8px;
    }

    .shop_now_7 {
        position: absolute;
        height: 34px;
        width: 227px;
        left: -1px;
        background-color: #CC0001;
        color: white;
        border-radius: 10px;
        top: 40px;
        font-size: 16px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }

    .shop_now_8 {
        position: absolute;
        height: 34px;
        width: 227px;
        left: -1px;
        background-color: #CC0001;
        color: white;
        border-radius: 10px;
        top: 40px;
        font-size: 16px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }

    .text_6 {
        position: absolute;
        font-family: sans-serif;
        font-size: 16px;
        color: #1A2B58;
        left: 40px;
        font-weight: bold;
        letter-spacing: 1px;
        top: -8px;
    }

    .text_7 {
        position: absolute;
        color: #1A2B58;
        font-size: 12px;
        top: 15px;
        left: 40px;
        font-weight: 500;
    }

    .text_8 {
        position: absolute;
        font-family: sans-serif;
        font-size: 16px;
        color: #1A2B58;
        left: 40px;
        font-weight: bold;
        letter-spacing: 1px;
        top: -8px;
    }

    .text_9 {
        position: absolute;
        color: #1A2B58;
        font-size: 12px;
        top: 15px;
        left: 40px;
        font-weight: 500;
    }

    .text_10 {
        position: absolute;
        font-family: sans-serif;
        font-size: 13px;
        color: #1A2B58;
        left: 17px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .text_11 {
        position: absolute;
        color: #1A2B58;
        font-size: 10px;
        top: 21px;
        left: 50px;
        font-weight: 500;
    }

    .text_12 {
        position: absolute;
        font-family: sans-serif;
        font-size: 13px;
        color: #1A2B58;
        left: 17px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .text_13 {
        position: absolute;
        color: #1A2B58;
        font-size: 10px;
        top: 21px;
        left: 50px;
        font-weight: 500;
    }

    .text_14 {
        position: absolute;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 600;
        left: 40px;
        top: 0px;
    }

    .text_15 {
        position: absolute;
        color: #FFFFFF;
        font-size: 17px;
        font-weight: bold;
        left: 101px;
        top: -16px;
    }

    .text_16 {
        display: none;
    }

    .text_17 {
        position: absolute;
        color: #FFFFFF;
        font-size: 8px;
        font-weight: 600;
        left: 12px;
        top: 17px;
    }

    .snapmint {
        position: absolute;
        top: 25px;
        left: 166px;
        height: 12.56px;
        width: 49.37px;
    }

    .text_18 {
        position: absolute;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 600;
        left: 40px;
        top: 0px;
    }

    .text_19 {
        position: absolute;
        color: #FFFFFF;
        font-size: 17px;
        font-weight: bold;
        left: 101px;
        top: -16px;
    }

    .text_20 {
        display: none;
    }

    .text_21 {
            position: absolute;
            color: #FFFFFF;
            font-size: 8px;
            font-weight: 600;
            left: 12px;
            top: 17px;
    }

    .snapmint_1 {
        position: absolute;
        top: 25px;
        left: 166px;
        height: 12.56px;
        width: 49.37px;
    }
}