.more {
    position: absolute;
    background-color: #1A2B58;
    height: 413.09px;
    width: 1525.45px;
    top: 8579.91px;
    left: 0px;
}

.products {
    position: absolute;
    color: white;
    text-align: left;
    left: 200px;
}

.support {
    position: absolute;
    color: white;
    text-align: left;
    left: 435px;
}

.quick_links {
    position: absolute;
    color: white;
    left: 760px;
    text-align: left;
}

.newsletter {
    position: absolute;
    color: white;
    text-align: left;
    width: 342px;
    left: 1020px;
}

.contact_3 {
    position: absolute;
    color: white;
    text-align: left;
    left: 510px;
    top: 100px;
    width: 185px;
}

.cont_3 {
    position: absolute;
    left: 510px;
    top: 145px;
}

.connect_on {
    position: absolute;
    color: white;
    text-align: left;
    width: 192px;
    left: 511px;
    top: 145px;
}

.fonts_3 {
    position: absolute;
    display: flex;
    color: white;
    left: 514px;
    top: 215px;
    width: 100px;
    gap: 33px;
    font-size: 20px;
}

.email {
    position: absolute;
    height: 28px;
    width: 170px;
    padding-left: 14px;
    border-radius: 7px;
}

.phone_no {
    position: absolute;
    height: 28px;
    width: 170px;
    left: 210px;
    padding-left: 14px;
    border-radius: 7px;
}

.send {
    position: absolute;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    border-color: #CC0000;
    font-weight: bold;
    width: 400px;
    height: 35px;
    top: 183px;
}

.accordion {
    display: none;
}


@media screen and (max-width: 376px) and (max-height: 6944px) {
    .more {
        position: absolute;
        background-color: #1A2B58;
        height: 8111.09px;
        width: 716.45px;
        top: 7260.91px;
        left: 0px;
    }

    .products {
        position: absolute;
        color: white;
        text-align: left;
        left: 30px;
        font-size: 10px;

    }

    .p35 {
        display: none;
    }

    .support {
        position: absolute;
        color: white;
        text-align: left;
        left: 30px;
        top: 40px;
        font-size: 10px;
    }

    .quick_links {
        position: absolute;
        color: white;
        left: 30px;
        text-align: left;
        top: 75px;
        font-size: 10px;
    }

    .newsletter {
        position: absolute;
        color: white;
        text-align: left;
        width: 342px;
        left: 30px;
        top: 110px;
        font-size: 10px;
    }

    .contact_3 {
        position: absolute;
        color: white;
        text-align: left;
        left: 15px;
        top: 140px;
        width: 185px;
        font-size: 18px;
    }

    .connect_on {
        position: absolute;
        color: white;
        text-align: left;
        width: 192px;
        left: 15px;
        top: 160px;
        font-size: 18px;
    }

    .fonts_3 {
        position: absolute;
        display: flex;
        color: white;
        left: 514px;
        top: 215px;
        width: 100px;
        gap: 33px;
        font-size: 20px;
    }

    .email {
        position: absolute;
        height: 28px;
        width: 170px;
        padding-left: 14px;
        top: 50px;
        border-radius: 7px;
    }

    .phone_no {
        position: absolute;
        height: 28px;
        width: 170px;
        left: 0px;
        top: 90px;
        padding-left: 14px;
        border-radius: 7px;
    }

    .send {
        position: absolute;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        font-size: 13px;
        border-color: #CC0000;
        font-weight: bold;
        width: 188px;
        height: 35px;
        top: 137px;
    }
    .accordion {
        display: none;
    }
    
    .cont_3{
        display: none;
    }

    .fonts_3 {
        display: none;
    }
}