.ad {
    display: flex;
    position: absolute;
    width: 896.95px;
    height: 417px;
    top: 96px;
    left: 0px;
}

.ad_4 {
    display: none;
}

.logo_1 {
    display: flex;
    position: absolute;
    height: 93px;
    width: 482.98px;
    top: 125.49px;
    left: 765px;
}

.text {
    display: flex;
    position: absolute;
    color: white;
    height: 42px;
    width: 558px;
    font-size: 37px;
    left: 756px;
    top: 185px;
}

@media screen and (max-width: 376px) and (max-height: 6944px) {

    .ad_1 {
        display: none;
    }
    .ad_4 {
        height: 470.77px;
        width: 735px;
        left: 0px;
        position: absolute;
        display: flex;
    }

.logo_1 {
    display: flex;
    position: absolute;
    height: 120.19px;
    width: 430.58px;
    top: 0px;
    left: 165px;
}

.text {
    display: flex;
    position: absolute;
    color: white;
    height: 42px;
    width: 558px;
    font-size: 35px;
    left: 147px;
    top: 60px;
}
}