.Navbar {
  position: absolute;
  height: 63px;
  width: 1440px;
  top: 33px;
}

.box .rectangle {
  background-color: #fff4f4;
  height: 63px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1440px;
}

.logo {
  height: 25px;
  width: 113px;
}

.logo .element_1 {
  height: 25px;
  left: 38.25px;
  object-fit: cover;
  position: absolute;
  top: 21.15px;
  width: 113px;
}

.logo .element_2 {
  left: 171.99px;
  position: absolute;
  top: 13.5px;
  height: 36px;
  width: 1px;
}

.logo .element_3 {
  height: 28px;
  left: 185.79px;
  position: absolute;
  top: 20px;
  width: 144px;
}

.nav-items a {
  text-decoration: none;
  color: inherit;
}

.nav-items {
  position: absolute;
  left: 441px;
  top: 4px;

}

.mattresses {
  position: absolute;
  width: 100px;
  left: 0px;
  padding-right: 20px;
  cursor: pointer;
}

.mattresses .fa-solid {
  position: absolute;
  left: 11px;
  top: 3px;
  width: 20px;
  padding-left: 78px;
}

.mattresses .fa-solid:hover {
  position: absolute;
  top: 5px;
  left: 92px;
  width: 16px;
  padding-left: 0px;
  transform: rotate(180deg) !important;
}

.mattresses .dropdown-box {
  display: none;
}

.mattresses:hover .dropdown-box {
  display: flex;
  position: absolute;
  top: 20px;
  left: -100px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 480px;
  height: 220px;
  z-index: 2;
}

.dropdown-box .Ortho-Range,
.dropdown-box .Luxe-Range {
  position: relative;
  font-size: 25px;
  text-align: left;
  color: #1A2B58;
  font-family: unset;
  font-weight: 700;
  padding-right: 25px;
  padding-left: 34px;
} 

.ortho-ranges, .luxe-ranges {
  position: relative;
  font-size: 15px;
  top: 15px;
  font-family: system-ui;
  font-weight: 600;
}

.Smart-Ortho, .Smart-Ortho-Pro,
.Smart-Ortho-Royal, .Smart-Ortho-Hybrid,
.Comparison_19, .Smart-Luxe,
.Smart-Luxe-Hybrid, .Smart-Luxe-Royal,
.Find-your-Perfect-Mattress, .All-Mattress {
  position: relative;
  top: 2px;
  margin-top: 12px;
}


.recliner-bed {
  position: absolute;
  width: 100px;
  left: 120px;
  padding-right: 20px;
  cursor: pointer;
}

.recliner-bed .fa-solid {
  position: absolute;
  left: 5px;
  top: 3px;
  width: 34px;
  padding-left: 83px;

}

.recliner-bed .fa-solid:hover {
  position: absolute;
  top: 5px;
  left: 97px;
  width: 16px;
  padding-left: 0px;
  transform: rotate(180deg) !important;
}

.recliner-bed .dropdown-box {
  display: none;
}

.recliner-bed:hover .dropdown-box {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 120px;
  z-index: 2;
}

.chairs {
  position: relative;
  left: 210px;
  cursor: pointer;
}

.chairs .fa-solid {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 16px;
  padding-left: 47px;

}

.chairs .fa-solid:hover {
  position: absolute;
  top: 5px;
  left: 50px;
  width: 16px;
  padding-left: 0px;
  transform: rotate(180deg) !important;
}

.chairs .dropdown-box {
  display: none;
}

.chairs:hover .dropdown-box {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 120px;
  z-index: 2;
}

.bundles {
  position: relative;
  left: 245px;
  cursor: pointer;
}

.bundles .fa-solid {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 40px;
  padding-left: 47px;
}

.bundles .fa-solid:hover {
  position: absolute;
  top: 5px;
  left: 58px;
  width: 16px;
  padding-left: 0px;
  transform: rotate(180deg) !important;
}

.bundles .dropdown-box {
  display: none;
}

.bundles:hover .dropdown-box {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 120px;
  z-index: 2;
}

.pillows {
  position: relative;
  left: 280px;
  cursor: pointer;
}
.pillows .fa-solid {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 24px;
  padding-left: 48px;
}

.pillows .fa-solid:hover {
  position: absolute;
  top: 5px;
  left: 52px;
  width: 16px;
  padding-left: 0px;
  transform: rotate(180deg) !important;
}

.pillows .dropdown-box {
  display: none;
}

.pillows:hover .dropdown-box {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 120px;
  z-index: 2;
}

.bedding {
  position: relative;
  left: 315px;
  cursor: pointer;
}
.bedding .fa-solid {
  position: absolute;
  left: 15px;
  top: 3px;
  width: 16px;
  padding-left: 47px;
}

.bedding .fa-solid:hover {
  position: absolute;
  top: 5px;
  left: 62px;
  width: 16px;
  padding-left: 0px;
  transform: rotate(180deg) !important;
}

.bedding .dropdown-box {
  display: none;
}

.bedding:hover .dropdown-box {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 120px;
  z-index: 2;
}

.font_2 {
  display: inline-flex;
  position: relative;
  gap: 24px;
  font-size: 21px;
  top: 0px;
  left: 435px;
}

.font_2 .fa-solid,
.fas {
  top: 0px;
  font-weight: 900;
  position: relative;
  left: 0px;
}

.btn {
  display: inline-flex;
  position: absolute;
  top: 16px;
  left: 1260px;
  height: 34px;
  width: 124px;
  border-radius: 30px;
  gap: 16px;
  justify-content: center;
  white-space: nowrap;
  padding: 8px;
  color: white;
  background-color: #1a2b58;
  font-size: 15px;
  padding-left: 32px;

}

.fa-solid.fa-store {
  display: flex;
  position: absolute;
  left: 1274px;
  top: 25px;
  color: white;
}


@media screen and (max-width: 376px) and (max-height: 6944px) {

  .Navbar {
    position: absolute;
    height: 63px;
    width: 1090px;
    top: 33px;
}

  .nav-items {
    /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 63px; 
  left: 0;
  width: 100%;
  background-color: #1A2B58;
  padding: 10px; */
    display: none;
  }

  .logo .element_1 {
    height: 44.4px;
    left: 445.06px;
    object-fit: cover;
    position: absolute;
    top: 7.07px;
    width: 200.08px;
}

.logo .element_2 {
  left: 605px;
  position: relative;
  top: 7.5px;
  height: 45px;
  width: 1px;
}

.logo .element_3 {
  height: 45px;
  left: 680px;
  position: absolute;
  top: 8px;
  width: 240px;
}
  .font_2 .fa-solid,
  .font_2 .fas {
    font-weight: 600;
    top: -20px;
    font-weight: 900;
    position: relative;
    left: 35px;
    font-size: 35px;
    top: -10px;
}

.button .btn .btn-primary {
  display: none !important;
}
}