.office_chair {
    position: absolute;
    background-color: #C1ECFB;
    color: #1A2B58;
    height: 78px;
    width: 422.02px;
    left: 273.71px;
    top: 1132px;
    font-family: revert-layer;
    font-size: 35px;
    letter-spacing: 2px;
    border-radius: 40px;
    font-weight: bold;

}

.office_chair.active {
    position: absolute;
    background-color: #1A2B58;
    color: white;
    height: 78px;
    width: 422.02px;
    left: 273.71px;
    top: 1132px;
    font-family: revert-layer;
    font-size: 35px;
    letter-spacing: 2px;
    border-radius: 40px;
    font-weight: bold;
}

.gamer_chair {
    position: absolute;
    background-color: #C1ECFB;
    color: #1A2B58;
    height: 78px;
    width: 422.02px;
    left: 840.71px;
    top: 1132px;
    font-family: revert-layer;
    font-size: 35px;
    letter-spacing: 2px;
    border-radius: 40px;
    font-weight: bold;
}

.gamer_chair.active {
    position: absolute;
    background-color: #1A2B58;
    color: white;
    height: 78px;
    width: 422.02px;
    left: 840.71px;
    top: 1132px;
    font-family: revert-layer;
    font-size: 35px;
    letter-spacing: 2px;
    border-radius: 40px;
    font-weight: bold;
}


.chair_1 {
    position: absolute;
    width: 249px;
    height: 461.2px;
    top: 1238.8px;
    left: 115px;
}

.chair_2 {
    position: absolute;
    width: 249px;
    height: 461.2px;
    top: 1238.8px;
    left: 380.49px;
}

.chair_3 {
    position: absolute;
    width: 249px;
    height: 461.2px;
    top: 1238.8px;
    left: 650px;
}

.chair_4 {
    position: absolute;
    width: 249px;
    height: 461.2px;
    top: 1238.8px;
    left: 915.29px;
}

.chair_5 {
    position: absolute;
    width: 249px;
    height: 461.2px;
    top: 1238.8px;
    left: 1180px;
}

.shop_now_2 {
    position: absolute;
    height: 48.14px;
    width: 206.54px;
    left: 138px;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    top: 1614px;
    font-size: 13px;

    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}

.shop_now_3 {
    position: absolute;
    height: 48.14px;
    width: 206.54px;
    left: 403px;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    top: 1614px;
    font-size: 13px;

    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}

.shop_now_4 {
    position: absolute;
    height: 48.14px;
    width: 206.54px;
    left: 670px;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    top: 1614px;
    font-size: 13px;

    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}

.shop_now_5 {
    position: absolute;
    height: 48.14px;
    width: 206.54px;
    left: 937px;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    top: 1614px;
    font-size: 13px;

    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}

.shop_now_6 {
    position: absolute;
    height: 48.14px;
    width: 206.54px;
    left: 1202px;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    top: 1614px;
    font-size: 13px;

    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}


@media screen and (max-width: 376px) and (max-height: 6944px) {

    .office_chair {
        position: absolute;
        height: 40px;
        width: 280px;
        left: 60.71px;
        top: 1680px;
        font-family: revert-layer;
        font-size: 17px;
        letter-spacing: 2px;
        border-radius: 6px;
        font-weight: bold;
    }

    .office_chair.active {
        position: absolute;
        background-color: #1A2B58;
        color: white;
        height: 40px;
        width: 280px;
        left: 60.71px;
        top: 1680px;
        font-family: revert-layer;
        font-size: 17px;
        letter-spacing: 2px;
        border-radius: 6px;
        font-weight: bold;
    }

    .gamer_chair {
        position: absolute;
        height: 40px;
        width: 280px;
        left: 425.71px;
        top: 1680px;
        font-family: revert-layer;
        font-size: 17px;
        letter-spacing: 1px;
        border-radius: 6px;
        font-weight: bold;
    }

    .gamer_chair.active {
        position: absolute;
        background-color: #1A2B58;
        color: white;
        height: 40px;
        width: 280px;
        left: 425.71px;
        top: 1680px;
        font-family: revert-layer;
        font-size: 17px;
        letter-spacing: 1px;
        border-radius: 6px;
        font-weight: bold;
    }

    .chair_1 {
        position: absolute;
        width: 230.36px;
        height: 320.12px;
        top: 1750.04px;
        left: 90px;
    }

    .chair_2 {
        position: absolute;
        width: 230.36px;
        height: 320.12px;
        top: 1750.8px;
        left: 460.49px;
    }

    .chair_3 {
        position: absolute;
        width: 230.36px;
        height: 320.12px;
        top: 2080.8px;
        left: 90px;
    }
    

    .chair_4 {
        position: absolute;
        width: 230.36px;
        height: 320.12px;
        top: 2080.8px;
        left: 460.49px;
    }

    .chair_5 {
        position: absolute;
        width: 230.36px;
        height: 320.12px;
        top: 2410.8px;
        left: 280.8px;
    }
    .shop_now_2 {
        position: absolute;
        height: 30px;
        width: 190.6px;
        left: 109.39px;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        top: 2012.16px;
        font-size: 15px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }

    .shop_now_3 {
        position: absolute;
        height: 30px;
        width: 190.6px;
        left: 482.39px;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        top: 2012.16px;
        font-size: 15px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }


    .shop_now_4 {
        position: absolute;
        height: 30px;
        width: 190.6px;
        left: 109.39px;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        top: 2343.16px;
        font-size: 15px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }

    .shop_now_5 {
        position: absolute;
        height: 30px;
        width: 190.6px;
        left: 482.39px;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        top: 2343.16px;
        font-size: 15px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }

    .shop_now_6 {
        position: absolute;
        height: 30px;
        width: 190.6px;
        left: 301.39px;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        top: 2674.16px;
        font-size: 15px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }
}