.head_23 {
    position: absolute;
    height: 48px;
    width: 103px;
    top: 8245px;
    left: 740px;
    color: #1A2B58;
    font-size: 37px;
    font-weight: 600;
    font-family:sans-serif
}

.Q_1 {
    position: absolute;
    height: 51.82px;
    width: 507.93px;
    top: 8331.52px;
    left: 230.38px;
    background-color: #C1ECFA;
    border-radius: 64px;
}
.Q_2 {
    position: absolute;
    height: 51.82px;
    width: 507.93px;
    top: 8331.52px;
    left: 830.38px;
    background-color: #C1ECFA;
    border-radius: 64px;
}
.Q_3 {
    position: absolute;
    height: 51.82px;
    width: 507.93px;
    top: 8396.13px;
    left: 230.38px;
    background-color: #C1ECFA;
    border-radius: 64px;
}
.Q_4 {
    position: absolute;
    height: 51.82px;
    width: 507.93px;
    top: 8396.13px;
    left: 830.38px;
    background-color: #C1ECFA;
    border-radius: 64px;
}
.Q_5 {
    position: absolute;
    height: 51.82px;
    width: 507.93px;
    top: 8457.54px;
    left: 230.38px;
    background-color: #C1ECFA;
    border-radius: 64px;
}
.Q_6 {
    position: absolute;
    height: 51.82px;
    width: 507.93px;
    top: 8457.54px;
    left: 830.38px;
    background-color: #C1ECFA;
    border-radius: 64px;
}

.p21 {
    position: absolute;
    height: 20.48px;
    width: 404.45px;
    top: 8314.59px;
    left: 224.38px;
    color: #1A2B58;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: revert;
}
.p22 {
    position: absolute;
    height: 20.48px;
    width: 404.45px;
    top: 8314.59px;
    left: 850.38px;
    color: #1A2B58;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: revert;
}
.p23 {
    position: absolute;
    height: 20.48px;
    width: 404.45px;
    top: 8376.59px;
    left: 242.38px;
    color: #1A2B58;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: revert;
}

.p24 {
    position: absolute;
    height: 20.48px;
    width: 583.45px;
    top: 8383.59px;
    left: 795.38px;
    color: #1A2B58;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: revert;
}
.p25 {
    position: absolute;
    height: 20.48px;
    width: 404.45px;
    top: 8440.59px;
    left: 215.38px;
    color: #1A2B58;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: revert;
}
.p26 {
    position: absolute;
    height: 20.48px;
    width: 404.45px;
    top: 8440.59px;
    left: 795.38px;
    color: #1A2B58;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: revert;
}



@media screen and (max-width: 376px) and (max-height: 6944px) {

    .FAQ {
        position: absolute;
        top: 1500px;
    }

    .head_23 {
        position: absolute;
        height: 40.5px;
        width: 52.43px;
        top: 5350.04px;
        left: 145.16px;
        color: #1A2B58;
        font-size: 37px;
        font-weight: 600;
        font-family:sans-serif
    }
    
    .Q_1 {
        position: absolute;
        height: 45.78px;
        width: 560.04px;
        top: 5430.04px;
        left: -115px;
        background-color: #C1ECFA;
        border-radius: 64px;
    }
    .Q_2 {
        position: absolute;
        height: 45.78px;
        width: 560.04px;
        top: 5485.04px;
        left: -115px;
        background-color: #C1ECFA;
        border-radius: 64px;
    }
    .Q_3 {
        position: absolute;
        height: 45.78px;
        width: 560.04px;
        top: 5545.04px;
        left: -115px;
        background-color: #C1ECFA;
        border-radius: 64px;
    }
    .Q_4 {
        position: absolute;
        height: 45.78px;
        width: 560.04px;
        top: 5600px;
        left: -115px;
        background-color: #C1ECFA;
        border-radius: 64px;
    }
    .Q_5 {
        position: absolute;
        height: 45.78px;
        width: 560.04px;
        top: 5655px;
        left: -115px;
        background-color: #C1ECFA;
        border-radius: 64px;
    }
    .Q_6 {
        position: absolute;
        height: 45.78px;
        width: 560.04px;
        top: 5655px;
        left: -115px;
        background-color: #C1ECFA;
        border-radius: 64px;
    }
    
    .p21 {
        position: absolute;
        height: 13.41px;
        width: 240.31px;
        top: 5424.49px;
        left: 52.78px;
        color: #1A2B58;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        font-family: revert;
    }
    .p22 {
        position: absolute;
        height: 13.41px;
        width: 262.31px;
        top: 5475.49px;
        left: 41.78px;
        color: #1A2B58;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        font-family: revert;
    }

    .p23 {
        position: absolute;
        height: 13.41px;
        width: 275.31px;
        top: 5535.49px;
        left: 30.78px;
        color: #1A2B58;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        font-family: revert;
    }
    
    .p24 {
        position: absolute;
        height: 13.41px;
        width: 375.31px;
        top: 5592.49px;
        left: -11.22px;
        color: #1A2B58;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        font-family: revert;
    }

    .p25 {
display: none;
    }
    .p26 {
        position: absolute;
        height: 13.41px;
        width: 230.31px;
        top: 5649.49px;
        left: 60.78px;
        color: #1A2B58;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        font-family: revert;
    }

}