.top {
    position: absolute;
    height: 53px;
    width: 367px;
    top: 5045px;
    left: 640px;
    font-size: 42px;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: #1A2B58;
}

.best_seller_1 {
    position: absolute;
height: 461.2px;
width: 249px;
top: 5147px;
left: 380px;
}

.best_seller_2 {
    position: absolute;
height: 461.2px;
width: 249px;
top: 5147px;
left: 695px;
}

.best_seller_3 {
    position: absolute;
height: 461.2px;
width: 249px;
top: 5147px;
left: 1000px;
}

.cart_2 {
    position: absolute;
    height: 45px;
    width: 210.02px;
    left: 399.57px;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    top: 5523.46px;
    font-size: 19px;
    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}
.cart_3 {
    position: absolute;
    height: 45px;
    width: 210.02px;
    left: 715.57px;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    top: 5523.46px;
    font-size: 19px;
    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}
.cart_4 {
    position: absolute;
    height: 45px;
    width: 210.02px;
    left: 1019.57px;
    background-color: #CC0001;
    color: white;
    border-radius: 5px;
    top: 5523.46px;
    font-size: 19px;
    text-decoration: underline;
    border-color: #CC0000;
    font-weight: bold;
}


@media screen and (max-width: 376px) and (max-height: 6944px) {

    .top {
        position: absolute;
        height: 30px;
        width: 330px;
        top: 4480px;
        left: 220px;
        font-size: 40px;
        letter-spacing: 0px;
        font-family: sans-serif;
        color: #1A2B58;
    }
    
    .best_seller_1 {
        position: absolute;
        height: 300.12px;
        width: 200.36px;
        top: 4580px;
        left: 125px;
    }
    
    .best_seller_2 {
        position: absolute;
        height: 300.12px;
        width: 200.36px;
        top: 4580px;
        left: 400px;
    }
    
    .best_seller_3 {
        position: absolute;
        height: 300.12px;
        width: 200.36px;
        top: 4900px;
        left: 265px;
    }
    
    .cart_2 {
        position: absolute;
        height: 32px;
        width: 166.6px;
        left: 143.39px;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        top: 4823.12px;
        font-size: 15px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }
    .cart_3 {
        position: absolute;
        position: absolute;
        height: 32px;
        width: 166.6px;
        left: 417.39px;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        top: 4823.12px;
        font-size: 15px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }
    .cart_4 {
        position: absolute;
        height: 32px;
        width: 166.6px;
        left: 281.39px;
        background-color: #CC0001;
        color: white;
        border-radius: 5px;
        top: 5142.12px;
        font-size: 15px;
        text-decoration: underline;
        border-color: #CC0000;
        font-weight: bold;
    }
}