.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 9951px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  @media screen and (max-width: 375px) and (max-height: 6943px) {
    
    .desktop {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      overflow: hidden
    }

    .desktop .div {
      background-color: #ffffff;
      height: 9951px;
      overflow: hidden;
      position: relative;
      width: 1440px;
      overflow: hidden
    }
    
  }