.head_1 {
    position: absolute;
    height: 47px;
    width: 514px;
    top: 3600px;
    left: 545px;
    color: #1A2B58;
    font-size: 42px;
    font-weight: bold;
}

.shorts {
    position: absolute;
    height: 704.86px;
    width: 381.32px;
    top: 3716.75px;
    left: 160px;
    border-radius: 14px;
    border: 1px solid #1A2B58;
}
.shorts_2 {
    position: absolute;
    height: 704.86px;
    width: 381.32px;
    top: 3716.75px;
    left: 615px;
    border-radius: 10px;
    border: 1px solid #1A2B58;
}
.shorts_3 {
    position: absolute;
    height: 704.86px;
    width: 381.32px;
    top: 3716.75px;
    left: 1070px;
    border-radius: 13px;
    border: 1px solid #1A2B58;
}

.clip {
        position: absolute;
        height: 596px;
        width: 390px;
        left: 0px;
        border-radius: 0px;
}
.clip_1 {
    position: absolute;
    left: -2px;
    top: -2px;
}
.clip_2 {
    position: absolute;
    left: 0px;
    top: -2px;
}

.head_3{
    position: absolute;
    color: #1A2B58;
    font-size: 30px;
    font-family: revert;
    top: 585px;
    left: 15px;
    font-weight: 600;
    width: 350px;
}
.head_4{
    position: absolute;
    color: #1A2B58;
    font-size: 30px;
    font-family: revert;
    top: 585px;
    left: 15px;
    font-weight: 600;
    width: 350px;
}
.head_5{
    position: absolute;
    color: #1A2B58;
    font-size: 30px;
    font-family: revert;
    top: 585px;
    left: 15px;
    font-weight: 600;
    width: 350px;
}

.play_1 {
    position: absolute;
    top: 230px;
    left: 140px;
}
.play_2 {
    position: absolute;
    top: 230px;
    left: 140px;
}
.play_3 {
    position: absolute;
    top: 230px;
    left: 140px;
}


@media screen and (max-width: 376px) and (max-height: 6944px) {
    .head_1 {
        position: absolute;
        height: 27.87px;
        width: 365.72px;
        top: 3735px;
        left: 190.68px;
        color: #1A2B58;
        font-size: 40px;
        font-weight: bold;
    }
    
    .shorts {
        position: absolute;
        height: 206.23px;
        width: 108.69px;
        top: 3835.16px;
        left: 117px;
        border-radius: 14px;
        border: 1px solid #1A2B58;
    }
    .shorts_2 {
        position: absolute;
        height: 206.23px;
        width: 109.62px;
        top: 3835.16px;
        left: 310.19px;
        border-radius: 10px;
        border: 1px solid #1A2B58;
    }
    .shorts_3 {
        position: absolute;
        height: 206.23px;
        width: 108.69px;
        top: 3835.16px;
        left: 500.31px;
        border-radius: 13px;
        border: 1px solid #1A2B58;
    }
    
    .clip {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 108.69px;
        height: 171.86px;
        border-radius: 15px;
    }
    .clip_1 {
        position: absolute;
        left:0px;
        top: 0px;
        height: 171.86px;
        width: 109.62px;
        border-radius: 10px;
    }
    .clip_2 {
        position: absolute;
        left: 0px;
        height: 171.86px;
        width: 108.69px;
        border-radius: 15px;
    }
    
    .head_3 {
        position: absolute;
        color: #1A2B58;
        font-size: 9px;
        font-family: revert;
        top: 170px;
        left: 0px;
        font-weight: 600;
        width: 115px;
    }
    .head_4{
        position: absolute;
        color: #1A2B58;
        font-size: 9px;
        font-family: revert;
        top: 170px;
        left: 0px;
        font-weight: 600;
        width: 110px;
    }
    .head_5{
        position: absolute;
        color: #1A2B58;
        font-size: 9px;
        font-family: revert;
        top: 170px;
        left: 0px;
        font-weight: 600;
        width: 107px;
    }
    
    .play_1 {
        position: absolute;
        top: 70px;
        left: 42px;
        height: 30px;
        width: 30px;
    }
    .play_2 {
        position: absolute;
        top: 70px;
        left: 42px;
        height: 30px;
        width: 30px;
    }
    .play_3 {
        position: absolute;
        top: 70px;
        left: 42px;
        height: 30px;
        width: 30px;
    }
}