.Container_3 {
    display: flex;
    position: absolute;
    background-color: #b7ebff;
    height: 347.06px;
    width: 1169.25px;
    top: 724px;
    border-radius: 40px;
}

.video {
    position: absolute;
}

.videos {
    position: absolute;
    width: 617px;
    border-radius: 42px;
}

.grid {
    position: absolute;
    height: 48.28px;
    width: 47.28px;
    left: 730.3px;
    top: 145px;

}

.smarter {
    position: absolute;
    height: 48.28px;
    width: 47.28px;
    left: 858px;
    top: 145px;


}

.ergonomic {
    position: absolute;
    height: 48.28px;
    width: 47.28px;
    left: 975.4px;
    top: 145px;

}

.head {
    position: absolute;
    width: 465px;
    height: 86px;
    left: calc(50% - 465px / 2 + 306.5px);
    top: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #182B58;
}

.head_2 {
    position: absolute;
    width: 465px;
    height: 86px;
    top: 40px;
    left: 600px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #182B58;
}

.grid_text {
    position: absolute;
    height: 176.62px;
    width: 32.7px;
    top: 185px;
    left: 721px;
    color: #182B58;
    font-family: fantasy;
    letter-spacing: 1px;

}

.grid_text_2 {
    position: absolute;
    height: 176.62px;
    width: 32.7px;
    top: 225px;
    left: 721px;
}

.smarter_text {
    position: absolute;
    height: 176.62px;
    width: 32.7px;
    top: 185px;
    left: 855px;
    color: #182B58;
    font-family: fantasy;
    letter-spacing: 1px;

}

.smarter_text_2 {
    position: absolute;
    height: 176.62px;
    width: 32.7px;
    top: 205px;
    left: 855px;
}

.ergonomic_text {
    position: absolute;
    height: 176.62px;
    width: 32.7px;
    top: 185px;
    left: 965px;
    color: #182B58;
    font-family: fantasy;
    letter-spacing: 1px;

}

.ergonomic_text_2 {
    position: absolute;
    height: 176.62px;
    width: 32.7px;
    top: 205px;
    left: 965px;
}

.shop_now {
    position: absolute;
    height: 53.14px;
    width: 198.54px;
    left: 675px;
    background-color: #CC0001;
    color: white;
    border-radius: 10px;
    top: 277px;
    font-size: 25px;
}

.google {
    position: absolute;
    height: 42.74px;
    width: 89.74px;
    top: 285px;
    left: 910.47px;
}

.amazon {
    position: absolute;
    height: 42.74px;
    width: 89.74px;
    top: 288px;
    left: 1020.47px;
}

.bg_13 {
    display: block;
}


@media screen and (max-width: 376px) and (max-height: 6944px) {

    .Container_3 {
        background-color: white;
    }

    .head {
        position: absolute;
        width: 465px;
        height: 86px;
        left: 430px;
        top: 0px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #182B58;
    }

    .head_2 {
        position: absolute;
        width: 465px;
        height: 86px;
        top: 3px;
        left: 710px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: revert-layer;
        font-size: 27px;
        line-height: 42px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #182B58;
    }

    .bg_13 {
        position: absolute;
        height: 500.79px;
        width: 735.37px;
        left: 397px;
        top: 190px;
    }

    .videos {
        position: absolute;
        width: 620px;
        border-radius: 42px;
        left: 460px;
        top: 90px;
    }

    .grid {
        position: absolute;
        height: 80.38px;
        width: 80.38px;
        left: 510.3px;
        top: 475px;
    }

    .smarter {
        position: absolute;
        height: 80.38px;
        width: 80.38px;
        left: 735px;
        top: 475px;
    }

    .ergonomic {
        position: absolute;
        height: 80.38px;
        width: 80.38px;
        left: 964.4px;
        top: 475px;
    }


    .grid_text {
        position: absolute;
        height: 202.62px;
        width: 90.7px;
        left: 510.3px;
        top: 550px;
        color: #182B58;
        font-family: fantasy;
        letter-spacing: 0px;
        font-size: 20px;
    }

    .grid_text_2 {
        position: absolute;
        height: 176.62px;
        width: 32.7px;
        left: 510.3px;
        top: 600px;
        font-size: 18px;
    }

    .smarter_text {
        position: absolute;
        height: 176.62px;
        width: 32.7px;
        left: 745px;
        top: 550px;
        color: #182B58;
        font-family: fantasy;
        letter-spacing: 0px;
        font-size: 20px;
    }

    .smarter_text_2 {
        position: absolute;
        height: 176.62px;
        width: 32.7px;
        left: 743px;
        top: 575px;
        font-size: 20px;
    }

    .ergonomic_text {
        position: absolute;
        height: 176.62px;
        width: 32.7px;
        left: 960.4px;
        top: 550px;
        color: #182B58;
        font-family: fantasy;
        letter-spacing: 0px;
        font-size: 20px;
    }

    .ergonomic_text_2 {
        position: absolute;
        height: 176.62px;
        width: 32.7px;
        left: 966.4px;
        top: 570px;
        font-size: 20px;
    }

    .shop_now {
        position: absolute;
        height: 53.14px;
        width: 198.54px;
        left: 675px;
        background-color: #CC0001;
        color: white;
        border-radius: 10px;
        top: 277px;
        font-size: 25px;
    }

    .google {
        position: absolute;
        height: 100.74px;
        width: 245.74px;
        top: 700px;
        left: 502.47px;
    }

    .amazon {
        position: absolute;
        height: 97.74px;
        width: 240.74px;
        top: 702px;
        left: 800.47px;
    }

    .shop_now {
        position: absolute;
        height: 60.14px;
        width: 275.54px;
        left: 620px;
        background-color: #CC0001;
        color: white;
        border-radius: 10px;
        top: 840px;
        font-size: 21px;
    }

}