.upgrade {
    position: absolute;
    height: 410.86px;
    width: 1123.6px;
    top: 6287.14px;
    left: 143.79px;
}

.upgrade_button {
    position: absolute;
    height: 69.2px;
    width: 506.01px;
    top: 6487.81px;
    left: 680.94px;
    color: white;
    background-color: #CC0001;
    border-color: #CC0000;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    padding-right: 55px;
}

.red_arrow {
    position: absolute;
    height: 38.06px;
    width: 38.94px;
    top: 6503px;
    left: 1122px;
}


@media screen and (max-width: 376px) and (max-height: 6944px) {
    .upgrade {
        position: absolute;
        height: 170.08px;
        width: 445.94px;
        top: 5845px;
        left: 115px;
    }

    .upgrade_button {
        position: absolute;
        height: 28.79px;
        width: 203.09px;
        top: 5927.7px;
        left: 326.86px;
        color: white;
        background-color: #CC0001;
        border-color: #CC0000;
        border-radius: 5px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0px;
        padding-left: 6px;
    }

    .red_arrow {
        position: absolute;
        height: 14.06px;
        width: 10.94px;
        top: 5935.7px;
        left: 500px;
    }
}